<section id="experience" class="py-20 bg-background text-text">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-12">Professional Experience</h2>
    <div class="relative">
      <div class="border-l-2 border-primary absolute h-full top-0 left-1/2 -translate-x-1/2"></div>
      @for (job of experience(); track job.role; let i = $index) {
        <div class="mb-8 flex justify-between items-center w-full">
          @if (i % 2 === 0) {
            <div class="w-1/2 pr-8 text-right">
              <div class="p-6 bg-secondary rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
                <h3 class="text-2xl font-bold">{{ job.role }}</h3>
                <p class="text-lg font-semibold">{{ job.company }} | {{ job.location }}</p>
                <p class="text-md text-gray-400">{{ job.period }}</p>
                <ul class="list-disc list-inside mt-4 text-left" [class.expanded]="isExpanded(i)">
                  @for (responsibility of job.responsibilities; track responsibility) {
                    <li>{{ responsibility }}</li>
                  }
                </ul>
                <button (click)="toggle(i)" class="text-primary hover:underline mt-4 font-bold">{{ isExpanded(i) ? 'Read Less' : 'Read More' }} <span class="ml-1">&#8594;</span></button>
              </div>
            </div>
            <div class="w-1/2 pl-8">
            </div>
          } @else {
            <div class="w-1/2 pr-8">
            </div>
            <div class="w-1/2 pl-8 text-left">
              <div class="p-6 bg-secondary rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
                <h3 class="text-2xl font-bold">{{ job.role }}</h3>
                <p class="text-lg font-semibold">{{ job.company }} | {{ job.location }}</p>
                <p class="text-md text-gray-400">{{ job.period }}</p>
                <ul class="list-disc list-inside mt-4 text-left" [class.expanded]="isExpanded(i)">
                  @for (responsibility of job.responsibilities; track responsibility) {
                    <li>{{ responsibility }}</li>
                  }
                </ul>
                <button (click)="toggle(i)" class="text-primary hover:underline mt-4 font-bold">{{ isExpanded(i) ? 'Read Less' : 'Read More' }} <span class="ml-1">&#8594;</span></button>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
</section>

