<app-header [activeSection]="activeSection()" (sectionClick)="onSectionChange($event)"></app-header>
<main class="pt-20">
  <div appSection id="hero" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-hero [@scrollAnimation]="showAnimation"></app-hero>
  </div>
  <div appSection id="about" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-about [@scrollAnimation]="showAnimation"></app-about>
  </div>
  <div appSection id="experience" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-experience [@scrollAnimation]="showAnimation"></app-experience>
  </div>
  <div appSection id="projects" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-projects [@scrollAnimation]="showAnimation"></app-projects>
  </div>
  <div appSection id="skills" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-skills [@scrollAnimation]="showAnimation"></app-skills>
  </div>
  <div appSection id="education" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-education [@scrollAnimation]="showAnimation"></app-education>
  </div>
  <div appSection id="interactive-zone" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-interactive-zone [@scrollAnimation]="showAnimation"></app-interactive-zone>
  </div>
  <div appSection id="contact" (sectionChange)="onSectionChange($event)" appScrollable (scrolled)="showAnimation = 'show'">
    <app-contact [@scrollAnimation]="showAnimation"></app-contact>
  </div>
</main>
