<div class="bg-black text-white font-mono p-4 h-96 overflow-y-scroll">
  @for (line of lines; track line) {
    <div>
      @if (line.type === 'input') {
        <span class="text-green-400">> </span><span>{{ line.content }}</span>
      } @else {
        <pre class="whitespace-pre-wrap">{{ line.content }}</pre>
      }
    </div>
  }
  <div class="flex">
    <span class="text-green-400">> </span>
    <input type="text" class="bg-black text-white w-full outline-none" (keydown)="onKeydown($event)" autofocus>
  </div>
</div>
